<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File Server</title>

    <!-- Material Design fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap & Material Design -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="dist/css/ripples.min.css" rel="stylesheet">

    <!-- Dropdown.js -->
    <link href="https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="index.css" rel="stylesheet">
</head>
<body>

<header class="header-panel shadow-z-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <h1>About</h1>
            </div>
        </div>
    </div>
</header>

<main class="container-fluid main">
    <div class="row">
        <nav class="col-xs-3 menu" aria-label="Main navigation">
            <ul>
                <li class="active withripple" data-target="#about">About</li>
                <li class="withripple" data-target="/viewdir">
                    <a href="/viewdir" class="nav-link">Storage</a>
                </li>
                <li class="withripple" data-target="/api">
                    <a href="/api" class="nav-link">API</a>
                </li>
            </ul>
        </nav>

        <div class="pages col-xs-9">
            <div class="row">
                <div class="col-xs-10">
                    <article id="about" class="well page active">
                        <section>
                            <h2>Server Features</h2>
                            <ul>
                                <li>File uploading</li>
                                <li>File downloading</li>
                                <li>File and directory management</li>
                            </ul>
                        </section>
                        <section>
                            <h2>How to Use</h2>
                            <ol>
                                <li>Go to the <a href="/viewdir">Storage</a> page.</li>
                                <li>Upload files to the server using the upload form.</li>
                                <li>Download files from the server using the download button.</li>
                                <li>Move files and directories using drag and drop.</li>
                                <li>Also you can use CLI interface</li>
                                <li>For information about the API, see the <a href="/api">API documentation</a>.</li>
                            </ol>
                        </section>
                        <section>
                            <h2>Technical Information</h2>
                            <ul>
                                <li>Server written in Python using the http.server module.</li>
                                <li>File storage is handled using the os and shutil modules.</li>
                                <li>Drag and drop functionality is implemented using ondragover and ondragstart events.</li>
                                <li>File downloading is implemented using the blob API.</li>
                            </ul>
                        </section>
                        <section>
                            <h2>Contact</h2>
                            <p>If you have any questions or suggestions, please contact us at <a href="mailto:griguchaev@yandex.ru">griguchaev@yandex.ru</a>.</p>
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Scripts placed at the end for better performance -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="dist/js/material.js"></script>
<script src="dist/js/ripples.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"></script>
<script src="https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>
<script src="/dist/js/listfiles.js"></script>

<script>
    (function() {
        'use strict';

        // Initialize Material Design
        $.material.init();

        // noUiSlider initialization (if needed)
        $(function() {
            $(".shor").noUiSlider({
                start: 40,
                connect: "lower",
                range: { min: 0, max: 100 }
            });
            $(".svert").noUiSlider({
                orientation: "vertical",
                start: 40,
                connect: "lower",
                range: { min: 0, max: 100 }
            });

            // Dropdown.js
            $("#dropdown-menu select").dropdown();
        });

        // Navigation handling
        var currentPage = window.location.hash || "#about";

        $(document).ready(function() {
            if (currentPage !== "#about") {
                var menuItem = $(".menu").find("li[data-target='" + currentPage + "']");
                if (menuItem.length) {
                    if (currentPage.startsWith("#")) {
                        // Internal page: trigger click to show it
                        menuItem.trigger("click");
                    } else {
                        // External page: load via AJAX (if needed)
                        $.ajax({
                            url: currentPage + ".html",
                            success: function(data) {
                                menuItem.after(data);
                                menuItem.trigger("click");
                            }
                        });
                    }
                }
            }
        });

        // Adjust layout on resize
        $(window).on("resize", function() {
            $("html, body").height($(window).height());
            $(".main, .menu").height($(window).height() - $(".header-panel").outerHeight());
            $(".pages").height($(window).height());
        }).trigger("resize");

        // Menu click handler
        $(".menu li").click(function(e) {
            var target = $(this).data("target");
            if (!target || $(this).is(".active")) return;

            // If target is an external link (like "/viewdir"), navigate
            if (!target.startsWith("#")) {
                window.location.href = target;
                return;
            }

            // Internal page switch
            $(".menu li").removeClass("active");
            $(this).addClass("active");

            var $currentPage = $(target);
            $(".page").not($currentPage).removeClass("active").hide();
            $currentPage.show();

            window.location.hash = target;

            // Scroll to top animation
            var scrollInterval = setInterval(function() {
                $(".pages").animate({ scrollTop: 0 }, 0);
            }, 1);

            setTimeout(function() {
                $currentPage.addClass("active");
                setTimeout(function() {
                    clearInterval(scrollInterval);
                }, 1000);
            }, 100);
        });

        // Utility function for cleaning source (used by opensource button, if any)
        window.cleanSource = function(html) {
            var lines = html.split(/\n/);
            lines.shift();
            lines.splice(-1, 1);
            var indentSize = lines[0].length - lines[0].trim().length,
                re = new RegExp(" {" + indentSize + "}");
            return lines.map(function(line) {
                return line.match(re) ? line.substring(indentSize) : line;
            }).join("\n");
        };

    })();
</script>

<!-- Optional style for nav links (removes inline styles) -->
<style>
    .nav-link {
        display: block;
        width: 100%;
        text-decoration: none;
        color: inherit;
    }
    .nav-link:hover,
    .nav-link:focus {
        text-decoration: none;
        color: inherit;
    }
</style>

</body>
</html>