<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File Server - Storage</title>

    <!-- Material Design fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap & Material Design -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="dist/css/ripples.min.css" rel="stylesheet">

    <!-- Dropdown.js -->
    <link href="https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet">

    <!-- Highlight.js themes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github.min.css">

    <!-- Custom styles -->
    <link href="index.css" rel="stylesheet">
</head>
<body>

<!-- Upload Modal -->
<div id="uploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Upload File</h4>
            </div>
            <div class="modal-body">
                <input type="file" id="uploadfileinput" name="uploadfile">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="uploadbtn" onclick="uploadFile()">Upload</button>
            </div>
        </div>
    </div>
</div>

<!-- Create Modal -->
<div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create New Item</h4>
            </div>
            <div class="modal-body">
                <form id="createForm">
                    <div class="form-group">
                        <label for="createType">Type</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="createType" id="typeFile" value="file" checked>
                                File
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="createType" id="typeDir" value="directory">
                                Directory
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="createName">Name</label>
                        <input type="text" class="form-control" id="createName" placeholder="Enter name">
                    </div>
                    <div class="form-group" id="fileContentGroup">
                        <label for="createContent">File content (optional)</label>
                        <textarea class="form-control" id="createContent" rows="5" placeholder="Enter text..."></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="createBtn" onclick="createItem()">Create</button>
            </div>
        </div>
    </div>
</div>

<header class="header-panel shadow-z-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <h1>Storage</h1>
            </div>
        </div>
    </div>
</header>

<main class="container-fluid main">
    <div id="message-container"></div>
    <div class="row">
        <nav class="col-xs-3 menu" aria-label="Main navigation">
            <ul>
                <li class="withripple" data-target="#about">
                    <a href="/" class="nav-link">About</a>
                </li>
                <li class="active withripple" data-target="#viewdir">
                    <a href="/viewdir" class="nav-link">Storage</a>
                </li>
                <li class="withripple" data-target="/api">
                    <a href="/api" class="nav-link">API</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="pages col-xs-9">
        <div class="row">
            <div class="col-xs-10">
                <div id="viewdir" class="well page active">
                    <div id="toolbar">
                        <ul class="breadcrumb" id="pathnav"></ul>
                        <div class="btn-group">
                            <button class="btn" id="createbtn1" data-toggle="modal" data-target="#createModal" aria-label="Create">
                                <svg viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 8.25a.75.75 0 0 1 .75.75v2.25H15a.75.75 0 0 1 0 1.5h-2.25V15a.75.75 0 0 1-1.5 0v-2.25H9a.75.75 0 0 1 0-1.5h2.25V9a.75.75 0 0 1 .75-.75Z"></path>
                                    <path d="M3 3a2 2 0 0 1 2-2h9.982a2 2 0 0 1 1.414.586l4.018 4.018A2 2 0 0 1 21 7.018V21a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V3Zm2-.5a.5.5 0 0 0-.5.5v18a.5.5 0 0 0 .5.5h14a.5.5 0 0 0 .5-.5V7.018a.5.5 0 0 0-.146-.354l-4.018-4.018a.5.5 0 0 0-.354-.146H5Z"></path>
                                </svg>
                            </button>
                            <button class="btn" id="renamebtn1" aria-label="Rename">
                                <svg viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M17.263 2.177a1.75 1.75 0 0 1 2.474 0l2.586 2.586a1.75 1.75 0 0 1 0 2.474L19.53 10.03l-.012.013L8.69 20.378a1.753 1.753 0 0 1-.699.409l-5.523 1.68a.748.748 0 0 1-.747-.188.748.748 0 0 1-.188-.747l1.673-5.5a1.75 1.75 0 0 1 .466-.756L14.476 4.963ZM4.708 16.361a.26.26 0 0 0-.067.108l-1.264 4.154 4.177-1.271a.253.253 0 0 0 .1-.059l10.273-9.806-2.94-2.939-10.279 9.813ZM19 8.44l2.263-2.262a.25.25 0 0 0 0-.354l-2.586-2.586a.25.25 0 0 0-.354 0L16.061 5.5Z"></path>
                                </svg>
                            </button>
                            <button class="btn" id="copybtn1" aria-label="Copy">
                                <svg viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M7.024 3.75c0-.966.784-1.75 1.75-1.75H20.25c.966 0 1.75.784 1.75 1.75v11.498a1.75 1.75 0 0 1-1.75 1.75H8.774a1.75 1.75 0 0 1-1.75-1.75Zm1.75-.25a.25.25 0 0 0-.25.25v11.498c0 .139.112.25.25.25H20.25a.25.25 0 0 0 .25-.25V3.75a.25.25 0 0 0-.25-.25Z"></path>
                                    <path d="M1.995 10.749a1.75 1.75 0 0 1 1.75-1.751H5.25a.75.75 0 1 1 0 1.5H3.745a.25.25 0 0 0-.25.25L3.5 20.25c0 .138.111.25.25.25h9.5a.25.25 0 0 0 .25-.25v-1.51a.75.75 0 1 1 1.5 0v1.51A1.75 1.75 0 0 1 13.25 22h-9.5A1.75 1.75 0 0 1 2 20.25l-.005-9.501Z"></path>
                                </svg>
                            </button>
                            <button class="btn" id="pastebtn1" aria-label="Paste">
                                <svg viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M5.962 2.513a.75.75 0 0 1-.475.949l-.816.272a.25.25 0 0 0-.171.237V21.25c0 .138.112.25.25.25h14.5a.25.25 0 0 0 .25-.25V3.97a.25.25 0 0 0-.17-.236l-.817-.272a.75.75 0 0 1 .474-1.424l.816.273A1.751 1.751 0 0 1 21 3.97v17.28A1.75 1.75 0 0 1 19.25 23H4.75A1.75 1.75 0 0 1 3 21.25V3.97a1.75 1.75 0 0 1 1.197-1.66l.816-.272a.75.75 0 0 1 .949.475Z"></path>
                                    <path d="M7 1.75C7 .784 7.784 0 8.75 0h6.5C16.216 0 17 .784 17 1.75v1.5A1.75 1.75 0 0 1 15.25 5h-6.5A1.75 1.75 0 0 1 7 3.25Zm1.75-.25a.25.25 0 0 0-.25.25v1.5c0 .138.112.25.25.25h6.5a.25.25 0 0 0 .25-.25v-1.5a.25.25 0 0 0-.25-.25Z"></path>
                                </svg>
                            </button>
                            <button class="btn" id="uploadbtn1" data-toggle="modal" data-target="#uploadModal" aria-label="Upload">
                                <svg viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M4 20.25V18a.75.75 0 0 1 1.5 0v2.25c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25V18a.75.75 0 0 1 1.5 0v2.25A1.75 1.75 0 0 1 18.25 22H5.75A1.75 1.75 0 0 1 4 20.25Z"></path>
                                    <path d="M5.22 9.53a.749.749 0 0 1 0-1.06l6.25-6.25a.749.749 0 0 1 1.06 0l6.25 6.25a.749.749 0 1 1-1.06 1.06l-4.97-4.969V16.75a.75.75 0 0 1-1.5 0V4.561L6.28 9.53a.749.749 0 0 1-1.06 0Z"></path>
                                </svg>
                            </button>
                            <button class="btn" id="deletebtn1" aria-label="Delete">
                                <svg viewBox="0 0 24 24" width="20" height="20" class="danger-icon">
                                    <path d="M16 1.75V3h5.25a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5H8V1.75C8 .784 8.784 0 9.75 0h4.5C15.216 0 16 .784 16 1.75Zm-6.5 0V3h5V1.75a.25.25 0 0 0-.25-.25h-4.5a.25.25 0 0 0-.25.25ZM4.997 6.178a.75.75 0 1 0-1.493.144L4.916 20.92a1.75 1.75 0 0 0 1.742 1.58h10.684a1.75 1.75 0 0 0 1.742-1.581l1.413-14.597a.75.75 0 0 0-1.494-.144l-1.412 14.596a.25.25 0 0 1-.249.226H6.658a.25.25 0 0 1-.249-.226L4.997 6.178Z"></path>
                                    <path d="M9.206 7.501a.75.75 0 0 1 .793.705l.5 8.5A.75.75 0 1 1 9 16.794l-.5-8.5a.75.75 0 0 1 .705-.793Zm6.293.793A.75.75 0 1 0 14 8.206l-.5 8.5a.75.75 0 0 0 1.498.088l.5-8.5Z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="list-group" id="filesul"></div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Uploads queue panel -->
<div id="uploads-queue" class="uploads-queue">
    <div class="uploads-header">
        <span>Active uploads</span>
        <button class="btn btn-xs btn-default" id="clear-completed">Clear completed</button>
    </div>
    <div id="uploads-list" class="uploads-list"></div>
</div>

<!-- Scripts (ordered by dependency) -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="dist/js/material.js"></script>
<script src="dist/js/ripples.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.4.2/mammoth.browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/markdown-it@12.0.4/dist/markdown-it.min.js"></script>
<script src="xlsx.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/java.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/ini.min.js" integrity="sha512-7OGJTjLbP6mkGuHzs279+Y3WoqYLiB+pdYYabyUq6H2jnm2jFpg4NSiXQwc4RL2GTi1tQd2LyQVrmEmrNxaalw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/json.min.js" integrity="sha512-f2/ljYb/tG4fTHu6672tyNdoyhTIpt4N1bGrBE8ZjwIgrjDCd+rljLpWCZ2Vym9PBWQy2Tl9O22Pp2rMOMvH4g==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/markdown.min.js" integrity="sha512-j4HfSOGvYNRQiq8wvftDi9oVmhSqJuh2dALD+Btn53looHt+e1aaNX9gcQsnUAi42694fFhmmU4fx8nzs6VN7Q==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/cpp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/xml.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.9.0/dist/highlightjs-line-numbers.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-base64@2.6.4/base64.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script src="https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"></script>
<!-- Custom scripts -->
<script src="/js/listfiles.js"></script>
<script src="/js/views/excel.js"></script>
<script src="/js/viewfile.js"></script>

<script>
(function() {
    'use strict';

    // Initialize Material Design (once)
    $.material.init();

    // Initialize noUiSlider if elements exist
    if ($(".shor").length) {
        $(".shor").noUiSlider({
            start: 40,
            connect: "lower",
            range: { min: 0, max: 100 }
        });
    }
    if ($(".svert").length) {
        $(".svert").noUiSlider({
            orientation: "vertical",
            start: 40,
            connect: "lower",
            range: { min: 0, max: 100 }
        });
    }

    // Dropdown.js initialization
    $("#dropdown-menu select").dropdown();

    // Page navigation handling (similar to index, but adapted for viewdir)
    var currentPage = window.location.hash || "#viewdir";

    $(document).ready(function() {
        if (currentPage !== "#viewdir") {
            var menuItem = $(".menu").find("li[data-target='" + currentPage + "']");
            if (menuItem.length) {
                if (currentPage.startsWith("#")) {
                    menuItem.trigger("click");
                } else {
                    // For external links (like /api), just navigate
                    window.location.href = currentPage;
                }
            }
        }

        // Simple context menu demo (from original)
        

        // Toggle selected class
        // $filesul.on('click', 'div', function() {
        //     $(this).toggleClass('selected');
        // });
    });

    // Adjust layout on resize
    $(window).on("resize", function() {
        $("html, body").height($(window).height());
        $(".main, .menu").height($(window).height() - $(".header-panel").outerHeight());
        $(".pages").height($(window).height());
    }).trigger("resize");

    // Menu click handler (internal pages)
    $(".menu li").click(function(e) {
        var target = $(this).data("target");
        if (!target || $(this).is(".active")) return;

        // If target is an external link (starts with '/'), navigate
        if (target.startsWith('/')) {
            window.location.href = target;
            return;
        }

        // Internal page switch (e.g., #about, #viewdir)
        $(".menu li").removeClass("active");
        $(this).addClass("active");

        var $targetPage = $(target);
        $(".page").not($targetPage).removeClass("active").hide();
        $targetPage.show();

        window.location.hash = target;

        // Scroll to top
        var scrollInterval = setInterval(function() {
            $(".pages").animate({ scrollTop: 0 }, 0);
        }, 1);

        setTimeout(function() {
            $targetPage.addClass("active");
            setTimeout(function() {
                clearInterval(scrollInterval);
            }, 1000);
        }, 100);
    });

    // Utility function for cleanSource (used by opensource button)
    window.cleanSource = function(html) {
        var lines = html.split(/\n/);
        lines.shift();
        lines.splice(-1, 1);
        var indentSize = lines[0].length - lines[0].trim().length,
            re = new RegExp(" {" + indentSize + "}");
        return lines.map(function(line) {
            return line.match(re) ? line.substring(indentSize) : line;
        }).join("\n");
    };

    // Open source button handler (if exists)
    $("#opensource").click(function() {
        $.get(window.location.href, function(data) {
            var html = $(data).find(window.page).html();
            html = cleanSource(html);
            $("#source-modal pre").text(html);
            $("#source-modal").modal();
        });
    });

})();
</script>

<!-- Additional styles for cleaned-up appearance -->
<style>
    .nav-link {
        display: block;
        width: 100%;
        color: inherit;
        text-decoration: none;
    }
    .nav-link:hover,
    .nav-link:focus {
        text-decoration: none;
        color: inherit;
    }
    .btn .danger-icon {
        fill: #ff0000;
    }
    /* Simple context menu styling (if needed) */
    .context-menu {
        position: absolute;
        background: white;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
        z-index: 1000;
    }
    .context-menu div {
        padding: 8px 12px;
        cursor: pointer;
    }
    .context-menu div:hover {
        background-color: #eee;
    }
</style>

</body>
</html>